/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: whitesmoke;

    

    div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .homehtml{
        font-size: 40px;
        -webkit-transition:  font-size 0.5s ease-in-out;
        -o-transition:  font-size 0.5s ease-in-out;
        transition:  font-size 0.5s ease-in-out;
        }
        img{
            width: 50px;
            height: 50px;
            margin: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .joxi {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            background-color: black;
            width: 2px;
            height: 50px;
            margin-top: 10px;
        }
    }
    
    .ETlogo {
        width: 60px;
        height: 50px;
        border-radius: 10px;
        
    }

    .nav {
        margin-top: 20px;
        gap: 100px;
        margin: auto;

                

        div a{
            color: black;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            -webkit-transition:  font-size 0.5s ease-in-out;
            -o-transition:  font-size 0.5s ease-in-out;
            transition:  font-size 0.5s ease-in-out;
        }

        div a:hover {
            font-size: 40px;
        }




    }
        .search{
            width: 200px;
            border-radius: 10px;
            border: black 1px solid;
            height: 25px;
            padding-left: 5px;
        }

        .searchicon {
            margin-left: 10px;
            border: 0;
        }
}


.logo {
    background-color: #47141d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    img{
        width: 300px;
        height: 250px;
    }

    .et{
        font-size: 50px;
        font-weight: 900;
        color: #fabca3;
        
    }

    .slogan {
        font-size: 10px;
        color: #fabca3;
    }

}

.about_tbilisi{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 40px;
    h2 {
        margin-top: 20px;
        font-size: 35px;
        margin-bottom: 20px;
    }
    .Sights {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;

        img {
        width: 450px;
        height: 300px;
        }



        h3{
            font-size: 25px;
            color: darkblue;
        }

        .sameba:hover {
            font-size: 15px;
            width: 450px;
            color: black;
        }

        .sameba:hover::after { 
            content: " is the main cathedral of the Georgian Orthodox Church located in Tbilisi, the capital of Georgia. Constructed between 1995 and 2004, it is the third-tallest Eastern Orthodox cathedral in the world and one of the largest religious buildings in the world by total area. Sameba is a synthesis of traditional styles dominating the Georgian church architecture at various stages in history and has some Byzantine undertones.";
        }


        .narikala:hover {
            font-size: 15px;
            width: 450px;
            color: black;
        }

        .narikala:hover::after{
            content: " Narikala is an ancient fortress overlooking Tbilisi, the capital of Georgia, and the Mtkvari River. The fortress consists of two walled sections on a steep hill between the sulfur baths and the botanical gardens of Tbilisi. On the lower court there is the recently restored St Nicholas church. Newly built in 1996–1997, it replaces the original 13th-century church that was destroyed in a fire. The new church is of prescribed cross type, having doors on three sides. The internal part of the church is decorated with the frescos showing scenes from both the Bible and the history of Georgia.";
        }
    
        .old_Tbilisi:hover {
            font-size: 15px;
            width: 450px;
            color: black;
        }
        .old_Tbilisi:hover::after{
           content: " refers to the historical parts of Tbilisi. Although the term Old Tbilisi has long been used to denote the oldest part of the city, it was only in 2007 that it became an official administrative distinct, while also incorporating several historical neighbourhoods formerly included in the districts of Mtatsminda-Krtsanisi, Isani-Samgori, and Didube-Chugureti. The official district was abolished in 2013, with its territories allotted to several other divisions of the capital; however, locals and visitors continue to refer to historical districts as Old Tbilisi without precise boundaries."; 
        }

    }

    .ent_h2 {
        margin-top: 50px;
    }

    .Entertainment{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;

        img {
        width: 450px;
        height: 300px;
        }



        h3 a{
            text-decoration: none;
            font-size: 25px;
            color: darkblue;
        }

    }

    .foodh2 {
        margin-top: 50px;
    }

    .food{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;

        img {
        width: 450px;
        height: 300px;
        }



        h3 a{
            margin-top: 0;
            text-decoration: none;
            font-size: 25px;
            color: darkblue;
        }

    }
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
    background-color: #111212;
    width: 100%;
    height: 200px;

        div {
            margin-top: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 80px;

        .logos{
            margin-top: 7px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            gap: 30px;
        }

            img {
                margin-left: 50px;
                width: 80px;
                height: 70px;
                border-radius: 5px;
            }

            h3{
                color: white;
                font-size: 20px;
            }

            .info, .address, .follow, .tbc {
                margin-left: 50px;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                color: white;
                gap: 20px;

                a {
                    text-decoration: none;
                    color: white;
                }

                 img {
                    margin-left: 0px;
                    width: 20px;
                    height: 20px;
                } 
                
                .fb, .ig {
                    margin-left: -40px;
                }

            }
        }

}

